/*
 HEADER
 HEADER
 HEADER
*/

.page-header {
  background-color: #a496fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1158px) {
  .page-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 160px;
  }
}

.logo-link {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1158px) {
  .logo-link {
    font-size: 48px;
  }
}

.nav-list {
  display: none;
}
@media screen and (min-width: 1158px) {
  .nav-list {
    display: flex;
    gap: 80px;
  }
}

.nav-link {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-link-active {
  color: #575276;
}

.nav-link-active::after {
  box-sizing: border-box;
  display: flex;
  content: "";
  position: absolute;
  left: 0;
  bottom: -23px;
  height: 8px;
  background-color: #575276;
  border-radius: 4px;
  width: 100%;
}

.menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 1158px) {
  .menu-button {
    display: none;
  }
}

.menu-button-icon {
  stroke: #ffffff;
}
.menu-button-icon-close {
  stroke: #1c2225;
  width: 36px;
  height: 36px;
}
/* 
MAIN
MAIN
MAIN 
*/

.page-main {
  background: #ece9fd;
}

/* 
FOOTER
FOOTER
FOOTER
*/

.page-footer {
  background-color: #a496fc;
}

.contacts-text {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1158px) {
  .contacts-text {
    font-size: 36px;
  }
}

.contacts-link {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 36px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.first-section-content{
  display: flex;
  gap:40px;
  margin-right: auto;
  margin-left: auto;
}

.first-section-text {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
