/*
 HEADER
 HEADER
 HEADER
*/

.page-header{
    background-color: #A496FC;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-list {
  display: none;
}

.menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.menu-button-icon {
  stroke: #ffffff;
}
.menu-button-icon-close {
    stroke: #1c2225;
    width: 36px;
    height: 36px;
}


/* 
FOOTER
FOOTER
FOOTER
*/

.page-footer{
  background-color: #A496FC;
}

.contxts-text{
  color: #FFF;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contacts-link{
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container{
  display: flex;
  flex-direction:column;
  align-items: start;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}